

#middle{
	position: absolute;
    height: 80%;
    width: 80%;
    left: 10%;
}

.jstree{
	text-align: left;
}


.jstree-default .jstree-rename-input { 
	margin-left: -20px; 
	font-size: 16px;
} 

#titleField{
font-size: 2em;
padding-left: 1em;
}

.fix {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

#contentField{
padding: 10px;
font-size: 1em;
}