.header{
	height: 30%;
	display: table;
	width: 100%;
}

.middle{
	height: 60%;
}

.footer{
	height: 10%;
}

h1{
	font-weight: normal;
	font-size: 90px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: table-cell;
	vertical-align: middle;
}



.login{
	width: 400px;
	height: 310px;
	
}

.register{
	width: 800px;
	height: 310px;
	overflow: hidden;
}

.formError{
	float: left; 
	width: 400px; 
	text-align: center; 
	overflow: hidden;
	color: pink;
}



.field{
	margin-top: 35px;	
}

.firstField{
	margin-top: 15px;	
}

.formTextField{
	height: 40px;
	font-size: 30px;
	text-align: center;
	margin-top: 5px;
}

.submitButton{
	-webkit-appearance: none;
	height: 35px;
	width: 150px;
	margin-top: 5px;
}



.registerTable{
	width: 100%;
	
}

.managedRow{
	height:100px;
}

.scrollable{
	overflow:scroll;
}

