.header{
	height: 30%;
	
}

.middle{
	height: 60%;
}

.footer{
	height: 10%;
}

h1{

	font-size: 90px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}



.login{
	width: 400px;
	height: 300px;
	
}

.register{
	width: 800px;
	height: 300px;
}



.label{
	margin-top: 20px;	
}

.formTextField{
	height: 40px;
	font-size: 30px;
	text-align: center;
	margin-top: 5px;
}

.submitButton{
	height: 40px;
	width: 150px;
}



.registerTable{
	width: 100%;
	
}

.managedRow{
	height:100px;
}